// out:null

@import 'bootstrap/bootstrap.less';
   


/*
 * Global
 */

.currency {
    text-transform: uppercase;
}

.list {
    .list-item {
        .list-item-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
        }
    }
}