// out:null

@import 'bootstrap/bootstrap.less';
   




.list {
    .list-item {
        .list-item-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
        }
    }
}