// out: null

[dashboard]{

    m-dashboard-item{

        &#overview{

            m-card{

                .overview-item{
                    width: 25%;
                    box-sizing: border-box;
                    padding: 10px 0;
                    padding-left: 16px;
                    border-left: 1px solid #d3d3d3;

                    &-title{
                        font-weight: 700;
                        font-size: 12px;
                        margin: 0;
                        letter-spacing: 1px;
                        color: #646464;
                        text-transform: uppercase;
                    }

                    &-value{
                        font-size: 24px;
                        margin: 0;
                        margin-top: 12px;
                        font-weight: 100;
                    }

                    &:first-child{
                        border: 0;
                    }
                }
            }
        }

        &#statistics{

            m-card{

                #statistics-filter{
                    position: absolute;
                }

                #statistics-data{
                    width: 100%;
                    height: 320px;
                }
            }
        }
    }
}
